body{
    background-color: #d42d2d;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header{
    color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
footer{
    background-color: #006bde;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}
article{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
nav ul{
    text-align: center;
}
nav ul li{
    background-color: #006bde;
    padding: 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    color: #ffd700;
    font-weight: bold;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
